<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--
    ~Change this style sheet to change the look of the site. The current theme is darkly. 
    ~Look up Bootstrap Themes on google or go to "http://getbootstrap.com/customize/" to create your own
    -->
    <link rel="stylesheet" href="./css/IT.css">
    
    <!-- needed files for using angular, html5, jquery, and bootstrap-->
    <!-- * Info on the tools used: 
            ~ Angular is used to display data from the database. Instead of typing in a full sql query whenever we need something, we can type in smaller things like Users.name to return data. 
            ~ Bootstrap is a css generator... thing... Basically it makes everything look nice with little effort. 
            ~ app.js points to the angular application used to return data
-->
    
    <!--The following is needed for angular data return compatibility between all browsers. Even though some of it is commented out, it's actually being read by IE or another browser. -->
    
    <!--[if (IE)]><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
<![endif]-->
    
    <!--[if !(IE)]><!-->  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<!--<![endif]-->
    
<!--http://stackoverflow.com/questions/9900311/how-do-i-target-only-internet-explorer-10-for-certain-situations-like-internet-e -->    
   <script>
    /*@cc_on
      @if (@_jscript_version == 10)
          document.write('<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"/>');
      @end
    @*/
</script>
    
    <!-- Needed for html compatibility -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    
    <!--JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!--Bootstrap is needed as a simple css solution -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <!--Angular route and angular messages are tools for better data returning. Route is used for "one page" websites. Angular Messages is used for validation -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    
    <!-- Socket.io will be used for realtime data returning such as live updating of tickets and notifications. It can also be used for login.  -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    
    <!-- Code js is used for defining how data is returned. Turning multiple sql statements and more into something as simple as {{x.variable}} -->
    <script src="./fix.js"></script>
    
    <!--CSS for sidebar -->
    <!--<link href="./css/simple-sidebar.css" rel="stylesheet">-->
    
    <script src="./build/jquery.datetimepicker.full.min.js"></script>
    <script src="./build/jquery.periodpicker.min.js"></script>
    <script src="./build/jquery.timepicker.min.js"></script>
    <script src="./build/jquery.mousewheel.min.js"></script>
    <link rel="stylesheet" href="./css/jquery.periodpicker.min.css">
	<link rel="stylesheet" href="./css/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="./css/jquery.datetimepicker.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
  
</head>
    <!--myApp defines the web application information -->
<body ng-app="myApp">
    
    <!--Navbar -->
<nav role="navigation" class="navbar navbar-default" style="position: fixed; top: 0; width: 100%; z-index: 5;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">PR Request</a>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#/central" id="NavC">Central</a></li>
                    <li><a href="#/north" id="NavN">North</a></li>
                    <li><a href="#/south" id="NavS">South</a></li>
                    <li><a href="#/wr" id="NavWR">West River</a></li>
                    <li><a href="#/keystone" id="NavK">Keystone</a></li>
                    <li><a href="#/bookmobile" id="NavB">Bookmobile</a></li>
                    <li><a href="#/mp" id="NavB">My Projects</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Login</a></li>-->
                </ul>
            </div>
        </nav>
<div id="main" class="col-md-6">
        <div style="margin-top:70px;"></div> 
        
        <!--ng-form and most things that start with "ng" are angulars replacement for html things. Yes it's stupid I know. :/ -->
    <ng-form id="ticket" name="ticket" action="" novalidate>
        
            <div ng-controller="data_set">
        <table class="table table-striped">
        
            <tr>
                <td>Location:</td><td>
                <select style="width: 170px;" class="form-control" id="Location" ng-model="ticket.t_Location">
                    <option value="">--Location--</option>
                    <option value="Central">Central</option>
                    <option value="Bookmobile">Bookmobile</option>
                    <option value="Keystone">Keystone</option>
                    <option value="North Branch">North Branch</option>
                    <option value="South Branch">South Branch</option>
                    <option value="West River">West River</option>
                </select>
                <!--<input type="text" ng-model="ticket.t_Location" id="Location" name="Location" required >--></td>    
            </tr>
            <tr>
                <td>Department:</td><td>
                <select style="width: 170px;" class="form-control" id="Department" ng-model="ticket.t_Department">
                    <option value="">--Department--</option>
                    <option value="TSD">TSD</option>
                    <option value="Children's">Children's</option>
                    <option value="Circulation">Circulation</option>
                    <option value="Adult Services">Adult Services</option>
                    <option value="Adminstration">Adminstration</option>
                    <option value="Young Adult">Young Adult</option>
                    <option value="Clerk Treasurer">Clerk Treasurer</option>
                    <option value="Public Relations">Public Relations</option>
                    <option value="Audio Visual">Audio Visual</option>
                    <option value="Technology">Technology</option>
                    <option value="Project Read">Project Read</option>
                    <option value="Bookmobile">Bookmobile</option>
                    
                </select>
                <!--<input type="text" ng-model="ticket.t_Department" id="Department" name="Department" required >--></td>    
            </tr>
            <tr>
                <td>Name:</td><td><input type="text" ng-model="ticket.t_Name" id="Name" name="Name" required ></td>    
            </tr>
            <tr>
                <td>Email:</td><td><input type="text" ng-model="ticket.t_Email" id="email" name="email" required ></td>    
            </tr>
            <tr>
                <td>Phone:</td><td><input type="text" ng-model="ticket.t_Phone" id="Phone" name="Phone" required ></td>    
            </tr>
            <tr>
                <td>Program:</td><td><input type="text" ng-model="ticket.t_Program" id="Program" name="Program" required ></td>    
            </tr>
            <tr>
                <td>Program Date:</td><td>
                <div ng-controller="Datepicker">
            
             <div class="col-md-3">
                <input type="text" value="" id="perpickstart1" ng-init="ticket.t_ProgramDate"/>
                <p class="input-group">
                    <input type="text" ng-model="ticket.t_ProgramDate" id="eStart" placeholder=""/>
                </p>
            </div>
            </div>
                <!--<input type="text" ng-model="ticket.t_ProgramDate" id="ProgramDate" name="ProgramDate" required >--></td>    
            </tr>
            <tr>
                <td>Date to Receive</td>
                <td>
                <div ng-controller="Datepicker">
                     <div class="col-md-3">
                        <input type="text" value="" id="perpickstart2" ng-init="ticket.t_DateToReceive"/>
                        <p class="input-group">
                            <input type="text" ng-model="ticket.t_DateToReceive" id="eEnd" placeholder=""/>
                        </p>
                    </div>
                </div>
                </td>
                <!--<div ng-controller="Datepicker">
                <div class="col-md-3">
                    <input type="text" value="" id="perpickstart2"/>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup ng-model="schedule.eEnd" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="eEnd" placeholder="Event End"/>
                    </p>
                </div>
                </div>-->
                <!--<td>Date you wish to recieve material:</td><td><input type="text" ng-model="ticket.t_DateToReceive" id="DateToRecieve" name="DateToRecieve" required ></td>-->    
            </tr>
            <tr>
                <td>Which products do you need?</td>
                <td>
                    <div class="checkbox-inline col-xs-3" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PDisplay" ng-true-value="'Yes'" ng-false-value="'No'"> Display</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PPressRel" ng-true-value="'Yes'" ng-false-value="'No'"> Press Release</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PBroch" ng-true-value="'Yes'" ng-false-value="'No'"> Brochure</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PFlyer" ng-true-value="'Yes'" ng-false-value="'No'"> Flyer</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PPoster" ng-true-value="'Yes'" ng-false-value="'No'"> Poster</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PBookmark" ng-true-value="'Yes'" ng-false-value="'No'"> Bookmark</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PBanner" ng-true-value="'Yes'" ng-false-value="'No'"> Banner</label>
                    </div>
                    <div class="checkbox-inline col-xs-3">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PPhotoBooth" ng-true-value="'Yes'" ng-false-value="'No'"> PhotoBooth</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PNotNew" ng-true-value="'Yes'" ng-false-value="'No'"> This is not a new design, please re-design, I think it needs updating!</label>
                    </div>
                </td>    
            </tr>
            <tr>
                <td>As approved by my Department Head:</td><td><input type="text" ng-model="ticket.t_PAsApproved" id="PAsApproved" name="PAsApproved" required ></td>    
            </tr>
            <tr>
                <td>If your project isn't listed, please describe it:</td><td><input type="text" ng-model="ticket.t_Unlisted" style="width: 500px;" id="Unlisted" name="Unlisted" required ></td>    
            </tr>
            <tr>
                <td>Please indicate the following:</td>
                <td>
                    <div class="checkbox-inline col-xs-12" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_Some" ng-true-value="'Yes'" ng-false-value="'No'"> I have some ideas, so let's talk . . . Call me at the number listed above</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_HavePho" ng-true-value="'Yes'" ng-false-value="'No'"> I have photos for you</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_TheLogoMight" ng-true-value="'Yes'" ng-false-value="'No'"> The logo I need might be in your computer files</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PleaseDesign" ng-true-value="'Yes'" ng-false-value="'No'"> Please design a new logo</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_PrintColor" ng-true-value="'Yes'" ng-false-value="'No'"> I'd like to print this in color</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_BW" ng-true-value="'Yes'" ng-false-value="'No'"> Black & White is good enough</label>
                    </div>
                    <div class="checkbox-inline col-xs-12">
                        <label>
                            <input type="checkbox"  ng-model="ticket.t_HaveCopy" ng-true-value="'Yes'" ng-false-value="'No'"> I have copy that I will e-mail to you</label>
                    </div>
                </td>    
            </tr>
            <tr>
                <td>Detailed Instructions and comments:</td><td><textarea form="" type="text" ng-model="ticket.t_Detail" id="Detail" name="Detail" placeholder="Detailed Instructions and comments" rows="10" cols="50" style="resize:none;"></textarea></td>    
            </tr>
            <tr>
                <td></td><td><input type="submit" ng-click="addTicket(ticket); redirect();" ng-model="ticket.ticketSend" id="send"/></td>    
            </tr>
        </table>
        </div>
    </ng-form>
</div>
    <div id="right" class="col-md-3">

    </div>
    
    <script>
	$('#perpickstart1').periodpicker({
		norange: true, // use only one value
	cells: [1, 1], // show only one month
    //disableDays: ['1.12.2015', '2.12.2015'],
	resizeButton: false, // deny resize picker
	fullsizeButton: false,
	fullsizeOnDblClick: false,

	timepicker: false, // use timepicker
	timepickerOptions: {
		hours: true,
		minutes: true,
		seconds: false,
		ampm: false
	},
        end: '#eStart',
        formatDateTime:'YYYY-MM-DD HH:mm',
        formatDecoreDateTimeWithYear: 'MMM DD hh:mm a'
	});
	//$('#perpickstart1').periodpicker('value', ['12/03/2012']);
	//$('#periodpickerstart').periodpicker('clear');
	window.onerror = function (m){
	alert(m)
	}
    
    $('#perpickstart2').periodpicker({
		norange: true, // use only one value
	cells: [1, 1], // show only one month
    //disableDays: ['1.12.2015', '2.12.2015'],
	resizeButton: false, // deny resize picker
	fullsizeButton: false,
	fullsizeOnDblClick: false,

	timepicker: false, // use timepicker
	timepickerOptions: {
		hours: true,
		minutes: true,
		seconds: false,
		ampm: true
	},
        end: '#eEnd',
        formatDateTime:'YYYY-MM-DD HH:mm',
        formatDecoreDateTimeWithYear: 'MMM DD hh:mm a'
	});
	//$('#periodpickerstart').periodpicker('value', ['12.03.2010','15.03.2010']);
	//$('#periodpickerstart').periodpicker('clear');
	window.onerror = function (m){
	alert(m)
	}
</script>
<script type="text/javascript">
		/*$('#eStart').datetimepicker({
            //format:'l m-d-Y h:i a',
            format:'Y-m-d H:i'
            
        });
        $('#eEnd').datetimepicker({
            format:'Y-m-d H:i'
        });
        $('#prepStart').datetimepicker({
            //format:'l m-d-Y h:i a',
            format:'Y-m-d H:i'
            
        });
        $('#TearDownEnd').datetimepicker({
            format:'Y-m-d H:i'
        });*/
            
            (function($, ng) {
  'use strict';

  var $val = $.fn.val; // save original jQuery function

  // override jQuery function
  $.fn.val = function (value) {
    // if getter, just return original
    if (!arguments.length) {
      return $val.call(this);
    }

    // get result of original function
    var result = $val.call(this, value);

    // trigger angular input (this[0] is the DOM object)
    ng.element(this[0]).triggerHandler('input');

    // return the original result
    return result; 
  }
})(window.jQuery, window.angular);
	</script>
    </body>
</html>